

<!-- Выход из чата -->
<div class="top__chat">
  <a href="/leave" class="top__chat__leave">
    <img src="/image/exit.png" alt="выход из чата">
  </a>
</div>
<!-- Конец выхода из чата -->


<!-- Чат для общения -->
<div class="chat">

  <input id="room" type="hidden" value="{{room}}">


  <div class="chat__top">
    Чат {{name}} <span>/</span> <span>Создан {{created}}</span> 
  </div>


  <div class="chat__bottom">
    <input id="name" type="hidden" name="name" value="{{user}}">
    <div class="chat__bottom__blue-line"></div>
    <div class="chat__bottom__background-img">
      <img src="/image/death-is-waiting-4k-hd-3840x2160.jpg" alt="фон картинки">
    </div>




    <div class="chat__scroll">
      <input id="data" type="hidden" data-csrf='{{@root.csrf}}'>
      
          {{#each messages}}
            {{#each this}}
              {{#if name}}
                {{#ifeq name @root.user}}
                  <div class="chat__bottom__message me">
                    <div class="chat__bottom__message__right">
                      <div class="chat__bottom__message__right__date">
                        {{create}}
                      </div>
                      <span class="chat__bottom__message__right__text">
                        {{message}}
                      </span>
                    </div>
                    <div class="chat__bottom__message__left">
                      <div class="chat__bottom__message__left__img-top">
                        <img src="/image/039-bandit.png" alt="">
                      </div>
                      <div class="chat__bottom__message__left__name">
                        {{name}}
                      </div>
                    </div>      
                  </div>                   
                {{else}}
                  <div class="chat__bottom__message">
                    <div class="chat__bottom__message__left">
                      <div class="chat__bottom__message__left__img-top">
                        <img src="/image/039-bandit.png" alt="">
                      </div>
                      <div class="chat__bottom__message__left__name">
                        {{name}}
                      </div>
                    </div>

                    <div class="chat__bottom__message__right">
                      <div class="chat__bottom__message__right__date">
                        {{create}}
                      </div>
                      <span class="chat__bottom__message__right__text">
                        {{message}}
                      </span>
                    </div>
                  </div>                  
                {{/ifeq}}            
              {{/if}}
            {{/each}}
          {{/each}}
    </div>

  </div>

</div>

<textarea class="chat__bottom__textarea" name="" id="" cols="90" rows="10" placeholder="Напишите сообщения"></textarea>
<!-- Конец чата для диплома -->



<!-- Подключаю библиотеку Socket IO к клиентской стороне -->
<script src = "/socket.io/socket.io.js"></script>

<script>

  // Соединяюсь со своим сервером
  socket = io('/');
  // Текущая комната
  let room = document.querySelector(`#room`).value;
  // Текстовое поле
  let textarea = document.querySelector(`textarea`);
  // Родительсткое окно всех сообщений
  let chat__bottom = document.querySelector(`.chat__scroll`);
  // Имя текущего пользователя
  let user = document.querySelector(`#name`).value;
  


  // Подключения к комнате
/*
  Короче говоря - в 98% случаев при заходе в определенную кумнату - оно не подключаеться к ней, из за этого 
  при новых сообщения в комнате даже от самого пользователя - они не будут ведны, и только если перезагрузить страницу 
  покажуться ибо загружаться с базы данных. Но если подключаться к комнате спустя 2 секунды то оно исправно подключаеться 
  и показываються сообщения новые сразу в каждом чате  
*/
setTimeout(()=>{
  socket.emit(`join`, { room: room});
}, 2000)

  // Отправка сообщения
  textarea.addEventListener(`keypress`, (event)=>{
    
    if(event.key == `Enter`){
      console.log(`Нажато на кнопку Enter`)

      socket.emit(`message`,
      {
        message: document.querySelector(`textarea`).value,
        room: room
      }
      );



    }
  })

/*
socket.on("hello", (data) => {
        console.log(data.message);
});
*/


  socket.on(`test`, function(arg){
    console.log(arg);
  })


  // Новое сообщения
  socket.on(`newMessage`, function(infa){

    
     console.log(user, infa.message.name);
    if(user == infa.message.name){
      document.querySelector(`textarea`).value = ``;
      document.querySelector(`textarea`).innerText = ``;

      let block = document.querySelector(".chat__bottom__textarea");
      block.scrollTop = block.scrollHeight;

      chat__bottom.innerHTML += `
        <div class="chat__bottom__message me">
          <div class="chat__bottom__message__right">
            <div class="chat__bottom__message__right__date">
              ${infa.message.create}
            </div>
            <span class="chat__bottom__message__right__text">
              ${infa.message.message}
            </span>
          </div>
          <div class="chat__bottom__message__left">
            <div class="chat__bottom__message__left__img-top">
              <img src="/image/039-bandit.png" alt="">
            </div>
            <div class="chat__bottom__message__left__name">
              ${infa.message.name}
            </div>
          </div>      
        </div>       
      `

      
    } else {
      chat__bottom.innerHTML += `
      <div class="chat__bottom__message">
        <div class="chat__bottom__message__left">
          <div class="chat__bottom__message__left__img-top">
            <img src="/image/039-bandit.png" alt="">
          </div>
          <div class="chat__bottom__message__left__name">
            ${infa.message.name}
          </div>
        </div>

        <div class="chat__bottom__message__right">
          <div class="chat__bottom__message__right__date">
            ${infa.message.create}
          </div>
          <span class="chat__bottom__message__right__text">
            ${infa.message.message}
          </span>
        </div>
      </div>

      `
    }

  let block = document.querySelector(".chat__scroll");
  block.scrollTop = block.scrollHeight;

  })
  

</script>  

<!-- Автопрокрутка чата в самый низ -->
<script src="/authScroll.js"></script>

<!-- Подгрузка контента при скроле -->
<script src="/loadScroll.js"></script>